@using Spitfire.SitecoreExtensions.Extensions
@model Spitfire.Library.Models.Core.Scaffolding.Col
<div class="@Model.Rendering.GetStylingParams().CssClass" style="@Model.Rendering.GetStylingParams().CssStyle">
    @Html.Sitecore().DynamicPlaceholder("col")
</div>