@using Sitecore.Mvc.Presentation
@model RenderingModel
<div class="content-top">
    <div class="top-box">
        <h2>What We do</h2>
        <hr />
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
    </div>
    <div class="section group">
        <div class="col_1_of_5 span_1_of_5">
            <div class="grid_img">
                <img src="/enginery/images/e1.png" alt="" />
            </div>
            <h3>Lorem Ipsum is simply</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
        </div>
        <div class="col_1_of_5 span_1_of_5">
            <div class="grid_img">
                <img src="/enginery/images/e2.png" alt="" />
            </div>
            <h3>Lorem Ipsum is simply</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
        </div>
        <div class="col_1_of_5 span_1_of_5">
            <div class="grid_img">
                <img src="/enginery/images/e3.png" alt="" />
            </div>
            <h3>Lorem Ipsum is simply</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
        </div>
        <div class="col_1_of_5 span_1_of_5">
            <div class="grid_img">
                <img src="/enginery/images/e4.png" alt="" />
            </div>
            <h3>Lorem Ipsum is simply</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
        </div>
        <div class="col_1_of_5 span_1_of_5">
            <div class="grid_img">
                <img src="/enginery/images/e5.png" alt="" />
            </div>
            <h3>Lorem Ipsum is simply</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
        </div>
        <div class="clear"></div>
    </div>
</div>