<div class="about-content">
    <i class="fa fa-eye fa-4x"></i>
    <h3>Retina Ready</h3>
    <p>This theme includes the retina.js plugin for easy retina image support so your images and graphics will look great on mobile devices!</p>
</div>