<div class="about-content">
    <!--<i class="fa fa-eye fa-4x"></i>-->
    <div>@Html.Sitecore().Field("Thumbnail")</div>
    <h3>@Html.Sitecore().Field("Title")</h3>
    <p>@Html.Sitecore().Field("Details")</p>
</div>