<!-- Instructions: Set your background image using the URL below. -->
<header style="background-image: url('Content/img/vitality/bg-header.jpg');">
    <div class="intro-content">
        <img src="Content/img/vitality/profile.png" class="img-responsive img-centered" alt="">
        <div class="brand-name">SPITFIRE</div>
        <hr class="colored">
        <div class="brand-name-subtext">by Sitecore</div>
    </div>
    <div class="scroll-down">
        <a class="btn page-scroll" href="#about"><i class="fa fa-angle-down fa-fw"></i></a>
    </div>
</header>