<div class="@Model.CssClass" style="@Model.CssStyle">
    <h3>Basic</h3>
    <hr class="colored">
    <div class="price"><span class="number"><sup>$</sup>25</span> / month</div>
    <ul class="list-group">
        <li class="list-group-item">60 Users</li>
        <li class="list-group-item">Unlimited Forums</li>
        <li class="list-group-item">Unlimited Reports</li>
        <li class="list-group-item">3,000 Entries per Month</li>
        <li class="list-group-item">200 MB Storage</li>
        <li class="list-group-item">Unlimited Support</li>
    </ul>
    <a href="#" class="btn btn-outline-dark">Sign Up</a>
</div>