        <!-- BEGIN: CONTENT/FEATURES/FEATURES-11 -->
<div class="c-content-box c-size-md c-bg-parallax" style="background-image: url(assets/base/img/content/backgrounds/bg-51.jpg)">
    <div class="container">
        <div class="c-content-feature-8 c-opt-1">
            <ul class="c-grid">
                <li>
                    <div class="c-card c-font-right c-bg-opacity-1">
                        <h3 class="c-font-40 c-font-white c-font-bold c-font-uppercase">Great<br />Customer Care</h3>
                        <p class="c-font-white c-font-18">
                            Lorem ipsum euismod dolor amet consetuer adipiscing elit sed diam nonummy euismod dolore
                        </p>
                    </div>
                </li>
                <li>
                    <div class="c-card c-bg-opacity-1">
                        <h3 class="c-font-40 c-font-white c-font-bold c-font-uppercase">Awesome<br />Features Pack</h3>
                        <p class="c-font-white c-font-18">
                            Lorem ipsum euismod dolor amet consetuer adipiscing elit sed diam nonummy euismod dolore
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="c-grid">
                <li>
                    <div class="c-card c-font-right c-bg-opacity-1">
                        <h3 class="c-font-40 c-font-white c-font-bold c-font-uppercase">Unlimited<br />Themed Layouts</h3>
                        <p class="c-font-white c-font-18">
                            Lorem ipsum euismod dolor amet consetuer adipiscing elit sed diam nonummy euismod dolore
                        </p>
                    </div>
                </li>
                <li>
                    <div class="c-card c-img c-bg-img-center" style="background-image: url(assets/base/img/content/stock3/6.jpg)">
                        <h3 class="c-font-white c-font-50 c-font-center">&nbsp;</h3>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: CONTENT/FEATURES/FEATURES-11 -->