<aside d="@Model.Id" class="cta-quote" style="background-image:url('@Model.BackgroundImgUrl');@Model.CssStyle">
    <div class="@Model.CssClass">
        <div class="container wow fadeIn animated">
            @Html.Sitecore().DynamicPlaceholder("aside")
        </div>
    </div>
</aside>