<aside d="@Model.Id" class="cta-quote" style="background-image:url('@Model.BackgroundImgUrl');@Model.CssStyle">
    <div class="@Model.CssClass">
        @Html.Sitecore().DynamicPlaceholder("aside")
    </div>
</aside>