@using Spitfire.Framework.Assets
@using Spitfire.Framework.Assets.Models
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <!-- Latest compiled and minified JavaScript -->
    @RenderAssetsService.Current.RenderScript()
    @RenderAssetsService.Current.RenderStyles()
</head>
<body>
    <div class="container">
        @Html.Sitecore().Placeholder("content")
    </div>
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
</body>
</html>