<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <mvc.getPageRendering>
        <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageRendering.GetLayoutRendering, Sitecore.Mvc']"
                   type="Spitfire.Modules.AssetRequirements.AddAssetsPipeline, Spitfire.Modules.AssetRequirements" />
      </mvc.getPageRendering>
    </pipelines>
  </sitecore>
</configuration>