@using Sitecore.Web.UI.WebControls;
@using Sitecore.Web;
@{
    string Title = String.Empty;
    string IconClass = String.Empty;
    var rc = Sitecore.Mvc.Presentation.RenderingContext.CurrentOrNull;
    if (rc != null)
    {
        var parms = rc.Rendering.Parameters;
        Title = string.IsNullOrEmpty(parms["Title"]) ? String.Empty : parms["Title"];
        IconClass = string.IsNullOrEmpty(parms["IconClass"]) ? String.Empty : parms["IconClass"];
    }
<div class="panel panel-primary">
    <div class="panel-heading headerpanel">
       @Title <i class="@IconClass"></i>
    </div>
    <div class="panel-body">
        @Html.Sitecore().DynamicPlaceholder("panel-column")
    </div>
</div>     
}  