@if (Model.Source != null)
{
    <div class="row">
        <div class="col-lg-12">
            @Html.Raw(Model.Source)
        </div>
    </div>
}
else
{
<div class="row">
    <div class="col-lg-12">Please select a datasource</div>
</div>
}