@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
<div class="row margin-bottom-40">
    <!-- BEGIN CONTENT -->
    <div class="col-md-12 col-sm-12">
        <div class="content-page">
            <div class="row">
                <!-- BEGIN LEFT SIDEBAR -->
                <div class="col-md-4 col-sm-4">
                    @Html.Sitecore().Placeholder("leftcontent")
                </div>
                <!-- END LEFT SIDEBAR -->
                <!-- BEGIN CENTRE -->
                <div class="col-md-4 col-sm-4">
                    @Html.Sitecore().Placeholder("content")
                </div>
                <!-- END CENTRE -->
                <!-- BEGIN RIGHT SIDEBAR -->
                <div class="col-md-4 col-sm-4">
                    @Html.Sitecore().Placeholder("rightcontent")
                </div>
                <!-- END RIGHT SIDEBAR -->
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>