<div class="row margin-bottom-40">
    <!-- BEGIN CONTENT -->
    <div class="col-md-12 col-sm-12">
        <h1>@Html.Sitecore().Field("title")</h1>
        <div class="content-page">
            <div class="row">
                <!-- BEGIN LEFT SIDEBAR -->
                <div class="col-md-3 col-sm-3">
                    @Html.Sitecore().Placeholder("leftcontent")
                </div>
                <!-- END LEFT SIDEBAR -->
                <!-- BEGIN CENTRE -->
                <div class="col-md-9 col-sm-9">
                    @Html.Sitecore().Placeholder("content")
                </div>
                <!-- END CENTRE -->
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>