<div class="row">
    <div class="col-md-8">
        @Html.Sitecore().DynamicPlaceholder("column1")
    </div>
    <div class="col-md-4">
        @Html.Sitecore().DynamicPlaceholder("column2")
    </div>
</div>
