@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
<div class="row margin-bottom-30">
    <!-- BEGIN CAROUSEL -->
    <div class="col-md-5 front-carousel">
        <div class="carousel slide" id="myCarousel">
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="item active">
                    @Html.Sitecore().Field("image", new { w = 450, @as = 1 })
                    <!-- <div class="carousel-caption">
                        <p>Excepturi sint occaecati cupiditate non provident</p>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>
    <!-- END CAROUSEL -->
    <!-- BEGIN PORTFOLIO DESCRIPTION -->
    <div class="col-md-7">
        <h1>@Html.Sitecore().Field("title")</h1>
        @Html.Sitecore().Field("text")
        <br />
        <!--	  <div class="row front-lists-v2 margin-bottom-15">
                <div class="col-md-6">
                  <ul class="list-unstyled">
                    <li><i class="fa fa-html5"></i> HTML5/CSS3</li>
                    <li><i class="fa fa-bell"></i> Web Deisgn</li>
                    <li><i class="fa fa-globe"></i> Web Development</li>
                    <li><i class="fa fa-shopping-cart"></i> Shoping Cart</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul class="list-unstyled">
                    <li><i class="fa fa-dropbox"></i> Free Storage</li>
                    <li><i class="fa fa-cloud"></i> Cloud Hosting</li>
                    <li><i class="fa fa-comments"></i> Free Support</li>
                    <li><i class="fa fa-star"></i> Awesome UI</li>
                  </ul>
                </div>
              </div>
              <a class="btn btn-primary" href="#"> VISIT THE PROJECT</a>-->
    </div>
    <!-- END PORTFOLIO DESCRIPTION -->
</div>