@using Spitfire.SitecoreExtensions.Extensions
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    var home = Model.Item.GetAncestorOfTemplate("home");
}
<div class="sidebar">
    <ul class="list-group margin-bottom-25 sidebar-menu">

        @foreach (var item in home.Children.Where(x => x.TemplateName == "Product"))
        {
            <li class="list-group-item clearfix @(item.ID == Model.Item.ID ? "active" : string.Empty)">
                <a href="@item.Url()">
                    <i class="fa fa-angle-right"></i>@Html.Sitecore().Field("ShortTitle", item)
                </a>
            </li>
        }
    </ul>
</div>