.wrapper {
    display: table;
    table-layout: fixed;
    height: 125px;
    background-color: Gray;
}

    .wrapper div {
        display: table-cell;
        height: 125px;
    }

.front-step h2 {
    font-size: 22px;
    line-height: 1.2;
    padding-top: 10px;
}

.front-step .step-content {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0;
}

.front-step:before {
    color: #fff;
    font: 300 125px 'Open Sans', sans-serif;
    font-weight: bold;
    display: block;
    position: absolute;
    right: -20px;
    bottom: -40px;
    opacity: 0.1;
}

.front-step:after {
    top: 50%;
    width: 0;
    height: 0;
    left: 100%;
    z-index: 2;
    content: " ";
    display: block;
    margin-top: -1em;
    position: absolute;
    border-left: 15px solid #EC7049;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.front-step-col {
    padding-left: 0;
    padding-right: 0;
}

.wrapper div:first-of-type {
    padding-left: 15px;
}

.wrapper .front-step-col:last-child {
    padding-right: 15px;
}