       <!-- BEGIN: CONTENT/PRODUCTS/PRODUCT-1 -->
<div class="c-content-box c-size-md c-bg-white c-no-bottom-padding">
    <div class="container">
        <div class="c-content-product-1 c-opt-1">
            <div class="c-content-title-1">
                <h3 class="c-center c-font-uppercase c-font-bold">Learn More About JANGO</h3>
                <div class="c-line-center">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="c-media">
                        <img src="assets/base/img/content/misc/jango-intro-3.png" alt="" />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="c-body">
                        <ul class="c-row">
                            <li>
                                <h4>Code Quality</h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy nibh euismod
                                </p>
                            </li>
                            <li>
                                <h4>Angular JS Support</h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy nibh euismod
                                </p>
                            </li>
                        </ul>
                        <ul class="c-row">
                            <li>
                                <h4>Every Growing Unique Layouts</h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy nibh euismod
                                </p>
                            </li>
                            <li>
                                <h4>Fully Mobile Optimized</h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy nibh euismod
                                </p>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-md c-btn-border-2x c-btn-square c-btn-regular c-btn-uppercase c-btn-bold c-margin-b-100">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: CONTENT/PRODUCTS/PRODUCT-1 -->