@model Spitfire.Library.Models.ImageLeftModel
<div class="row" style="background:@Model.Background;height: @Model.DivHeight">
    <div class="col-md-6">
        @Html.Sitecore().Field("Image", Model.Item, new { @class = "img-responsive", mw=@Model.ImageHeight, mh=@Model.ImageWidth })
    </div>
    <div class="col-md-6 text-center">
        <h1 style="font-size:@Model.TitleFontSize;color:@Model.TitleColor">@Html.Sitecore().Field("Title", Model.Item)</h1>
        <hr class="colored">
        @Html.Sitecore().Field("Details", Model.Item)
    </div>
</div>