@using Sitecore.Mvc.Presentation
@model RenderingModel
<div class="content-top">
    <div class="top-box">
        <h2>Company News</h2>
        <hr />
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
    </div>
    <div class="section group">
        <div class="col_1_of_4 span_1_of_4">
            <div class="hover_img">
                <img src="/enginery/images/pic4.jpg" alt="" />
            </div>
            <div class="caption1">
                <time datetime="#">November 17, 2013</time> <br />
                <a href="#" class="lnk">Vestibulum</a>
                <p>Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh...</p>
                <a href="#" class="btn btn-primary btn1">read more</a>
            </div>
        </div>
        <div class="col_1_of_4 span_1_of_4">
            <div class="hover_img">
                <img src="/enginery/images/pic5.jpg" alt="" />
            </div>
            <div class="caption1">
                <time datetime="#">November 17, 2013</time> <br />
                <a href="#" class="lnk">Vestibulum</a>
                <p>Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh...</p>
                <a href="#" class="btn btn-primary btn1">read more</a>
            </div>
        </div>
        <div class="col_1_of_4 span_1_of_4">
            <div class="hover_img">
                <img src="/enginery/images/pic6.jpg" alt="" />
            </div>
            <div class="caption1">
                <time datetime="#">November 17, 2013</time> <br />
                <a href="#" class="lnk">Vestibulum</a>
                <p>Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh...</p>
                <a href="#" class="btn btn-primary btn1">read more</a>
            </div>
        </div>
        <div class="col_1_of_4 span_1_of_4">
            <div class="hover_img">
                <img src="/enginery/images/pic7.jpg" alt="" />
            </div>
            <div class="caption1">
                <time datetime="#">November 17, 2013</time> <br />
                <a href="#" class="lnk">Vestibulum</a>
                <p>Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh...</p>
                <a href="#" class="btn btn-primary btn1">read more</a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>