<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sc.variable name="dataFolder" value="C:\Websites\spitfire\Data" />
    <unicorn>
      <defaults>
        <serializationProvider>
          <patch:attribute name="rootPath">C:\Websites\_dev\spitfiresource\src\serialization</patch:attribute>
        </serializationProvider>
      </defaults>
    </unicorn>
  </sitecore>
</configuration>