<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="packageInstallation" type="Sitecore.Ship.Infrastructure.Configuration.PackageInstallationConfiguration, Sitecore.Ship.Infrastructure" xdt:Transform="Insert"/>
  </configSections>
  <packageInstallation enabled="true" allowRemote="false" allowPackageStreaming="false" recordInstallationHistory="false" xdt:Transform="Insert" />
  <appSettings>
    <add key="DeploymentToolAuthToken" value="0af795cd-123e-40d7-9ee4-90dda0665a7c" xdt:Transform="Insert" />
  </appSettings>
  <system.web>
    <compilation debug="true" xdt:Transform="SetAttributes(debug)" />
    <compilation optimizeCompilations="true" xdt:Transform="SetAttributes(optimizeCompilations)" />
    <httpHandlers>
      <add verb="*" type="Sitecore.Ship.AspNet.SitecoreShipHttpHandler, Sitecore.Ship.AspNet" path="/sitecore_ship/*" xdt:Transform="Insert" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="Sitecore.Ship" xdt:Transform="Insert" />
      <add name="Sitecore.Ship" verb="*" type="Sitecore.Ship.AspNet.SitecoreShipHttpHandler, Sitecore.Ship.AspNet" path="/sitecore_ship/*" xdt:Transform="Insert" />
    </handlers>
  </system.webServer>
</configuration>